.terms {
  padding: 60px 20px;
  display: grid;
  gap: 30px;
}

.terms__info h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #272727;
  margin-bottom: 20px;
}

.terms__info p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: #575555;
  max-width: 80ch;
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .terms {
    padding: 30px 20px;
  }
  .terms__info p {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .terms__info p {
    font-size: 0.8rem;
  }
}
