.article__contact {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.article__contact h2 {
  color: #272727;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
}

.article__contact p {
  color: #575555;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  margin-bottom: 12px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
}

form label {
  color: #272727;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2;
  margin-bottom: 8px;
}

form input {
  margin-bottom: 16px;
  width: 600px;
  height: 50px;
  padding: 0 8px;
  color: #575555;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  border: 1px solid #afadad;
  border-radius: 4px;
}

form button {
  border: 1px solid #afadad;
  border-radius: 4px;
  background: #f9f9f9;
  padding: 12px 0;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #272727;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background: #272727;
  color: #f9f9f9;
  transition: 0.3s ease;
}
