.article__gallery {
  background: #f9f9f9;
  padding: 60px 0;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__content h2 {
  color: #272727;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.gallery__content p {
  color: #575555;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6;
  text-align: center;
  max-width: 65ch;
  margin-bottom: 32px;
}

.gallery__img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.gallery__img img {
  width: 100%;
  border-radius: 4px;
  transition: 0.3s ease;
}

.gallery__img img:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}
