.header {
  padding: 30px 20px;
  box-sizing: border-box;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu__logo h1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.logo__img {
  background: #272727;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.menu__nav {
  display: flex;
  gap: 60px;
}

.menu__nav ul {
  display: flex;
}

.menu__nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #272727;
}

.nav__primary {
  gap: 48px;
}

.nav__primary a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #272727;
  transition: 0.3s ease;
}

.nav__primary a:hover::after {
  width: 100%;
}

.nav__second {
  gap: 32px;
}

.nav__second svg path {
  transition: 0.3s ease;
}

.nav__second svg:hover path {
  stroke: #7c7a7a;
}

.nav__second .heart:hover path {
  stroke: rgb(209, 41, 41);
}

@media (max-width: 800px) {
  .header__menu {
    flex-direction: column;
    gap: 32px;
  }
  .menu__nav {
    gap: 40px;
  }
  .nav__primary {
    gap: 32px;
  }
}

@media (max-width: 500px) {
  .nav__primary {
    margin-left: 40px;
  }
  .nav__second li {
    display: none;
  }
}
